<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <script language="JavaScript" th:src="@{/static/script/vue.js}"></script>
    <script language="JavaScript" th:src="@{/static/script/axios.min.js}"></script>
    <script language="JavaScript" th:src="@{/static/script/cart_vue.js}"></script>
    <base th:href="@{/}">
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{render.do?page=index}">
            <img th:src="@{static/img/logo.gif}" alt=""/></a>
          <h1>我的购物车</h1>
        </div>
        <div class="header-right">

          <h3>欢迎<span th:text="${session.user.uname}">张总</span>光临尚硅谷书城</h3>
          <div class="order"><a th:href="@{order.do(operate='showOrderList')}">我的订单</a></div>
          <div class="destory"><a href="../index.html">注销</a></div>
          <div class="gohome">
            <a th:href="@{render.do?page=index}">返回</a>

          </div>


        </div>
      </div>
    </div>
    <div class="list">
      <div class="w" id="w_vue">
        <table>
          <thead>
            <tr>
              <th>图片</th>
              <th>商品名称</th>

              <th>数量</th>
              <th>单价</th>
              <th>金额</th>
              <th>操作</th>
            </tr>
          </thead>
<!--          {"ItemMap":{"2":{"id":56,"book":{"id":2,"bookImg":"santi.jpg","bookName":"三体","price":48.95,"author":"周杰伦","saleCount":18,"bookCount":892,"bookStatus":0},"buyCount":3,"userBean":{"id":1}},"3":{"id":57,"book":{"id":3,"bookImg":"ailuntulingzhuan.jpg","bookName":"艾伦图灵传","price":50.0,"author":"刘若英","saleCount":12,"bookCount":143,"bookStatus":0},"buyCount":2,"userBean":{"id":1}},"5":{"id":58,"book":{"id":5,"bookImg":"biancheng.jpg","bookName":"边城","price":30.0,"author":"刘德华","saleCount":2,"bookCount":99,"bookStatus":0},"buyCount":1,"userBean":{"id":1}}}}-->
          <tbody>
            <tr v-for="item in cart.ItemMap">
              <td>
                <img  v-bind:src="'static/uploads/'+item.book.bookImg" alt="" />
              </td>
              <td>{{item.book.bookName}}</td>
              <td>
                <span class="count"  @click="updateCart(item.id,item.buyCount-1,item.book.id)">-</span>
                <input class="count-num" v-bind:value="item.buyCount" type="text" />
                <span class="count" @click="updateCart(item.id,item.buyCount+1,item.book.id)">+</span>
              </td>
              <td >{{item.book.price}}</td>
              <td >{{item.totalValue}}</td>
              <td><a href="">删除</a></td>
            </tr>

          </tbody>
        </table>
        <div class="footer">
          <div class="footer-left">
            <a href="#" class="clear-cart">清空购物车</a>
            <a href="#">继续购物</a>
          </div>
          <div class="footer-right" >
            <div>共<span>{{cart.totalBookCount}}</span>件商品</div>
            <div class="total-price">总金额<span>{{cart.totalPrice}}</span>元</div>
            <a class="pay" th:href="@{order.do?operate=checkout}">去结账</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img src="static/img/bottom1.png" alt="" />
                <span>大咖级讲师亲自授课</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="static/img/bottom.png" alt="" />
                <span>课程为学员成长持续赋能</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="static/img/bottom2.png" alt="" />
                <span>学员真是情况大公开</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          <dl>
            <dt>关于尚硅谷</dt>
            <dd>教育理念</dd>
            <!-- <dd>名师团队</dd>
            <dd>学员心声</dd> -->
          </dl>
          <dl>
            <dt>资源下载</dt>
            <dd>视频下载</dd>
            <!-- <dd>资料下载</dd>
            <dd>工具下载</dd> -->
          </dl>
          <dl>
            <dt>加入我们</dt>
            <dd>招聘岗位</dd>
            <!-- <dd>岗位介绍</dd>
            <dd>招贤纳师</dd> -->
          </dl>
          <dl>
            <dt>联系我们</dt>
            <dd>http://www.atguigu.com</dd>
            <dd></dd>
          </dl>
        </div>
      </div>
      <div class="down">
        尚硅谷书城.Copyright ©2015
      </div>
    </div>
  </body>
</html>
